[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://$DEVPI_USERNAME:${DEVPI_PASSWORD}@pypi.mktg.howardmiller.co/hmcc/stable"
verify_ssl = true
name = "hmcc-devpi-stable"

[packages]
google-cloud-vision = "*"
google-cloud-aiplatform = "*"
pandas = "*"
openpyxl = "*"
python-dotenv = "*"
pysftp = "*"
requests = "*"
pillow = "*"
paramiko = ">=2,<3" 
dotenv = "*"
langchain = "*"
langchain-community = "*"
langgraph = "*"
langchain-core = "*"
langchain-google-vertexai = "*"
opencv-python = "*"
numpy = "*"
rembg = "*"
pydantic = "*"
matplotlib = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
sqlacodegen = "*"
sqlacodegen-v2 = "*"
psycopg2 = "*"
ipykernel = "*"

[requires]
python_version = "3.13"
